.container {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;

  display: flex;

  box-shadow: 0px 24px 48px 0px #00000029;
  border-radius: 6px;

  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: white;
}

.logo {
  position: relative;
  top: 2px;
  min-width: 56px;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 1.5rem;
}

.rightLink {
  color: #335bf1;
  min-width: 100px;
}

.rightLink a:link {
  text-decoration: none;
  color: #335bf1;
}

.rightLink a:visited {
  text-decoration: none;
  color: #335bf1;
}

.rightLink a:hover {
  text-decoration: underline;
  color: #335bf1;
}

.rightLink a:active {
  text-decoration: underline;
  color: #335bf1;
}

.rightArrow {
  position: relative;
  top: 2px;
  left: 3px;
}
